# Load Lib

In [2]:
import pandas as pd
import matplotlib as plt

# Load Dataset

In [9]:
df = pd.read_csv("../data/data.csv")
df

       Unnamed: 0                                               path     label
0               0  Surprise/1bd930d6a1c717c11be33db74823f661cb53f...  Surprise
1               1       Surprise/cropped_emotions.100096~12fffff.png  Surprise
2               2  Surprise/0df0e470e33093f5b72a8197fa209d684032c...  Surprise
3               3       Surprise/cropped_emotions.260779~12fffff.png  Surprise
4               4       Surprise/cropped_emotions.263616~12fffff.png  Surprise
...           ...                                                ...       ...
15448       15448            Angry/cropped_emotions.571245~angry.png     Angry
15449       15449            Angry/cropped_emotions.232257~angry.png     Angry
15450       15450            Angry/cropped_emotions.232276~angry.png     Angry
15451       15451  Angry/0aa9ec997e4faa4499e0aa3efac5ab97db109423...     Angry
15452       15452  Angry/7fdcf428267020e7b1b063745c0834ae6ccb9125...     Angry

[15453 rows x 3 columns]

In [13]:
df.label.value_counts()

label
Neutral     4027
Sad         3934
Happy       3740
Angry       1313
Surprise    1234
Ahegao      1205
Name: count, dtype: int64